services:
    proxy:
        image: nginx:alpine
        environment:
            TZ: Asia/Tokyo
        restart: always
        ports: 
            - 80:80
        volumes:
            - ./docker/nginx_dev_minimal:/etc/nginx/:rw
        depends_on:
            - front-app

    mainapi:
        build:
            context: .
            dockerfile: ./mainApi/Dockerfile
        ports:
            - 8000:8000
            - 5700:5678 # debugging port
        environment:
            - ENVIRONMENT=development
        env_file:
            - ./env_files/fastApi.env
            - ./env_files/mongoDB_connect.env
        depends_on:
            - mongo
        volumes:
            - image-storage:/image-storage
            - cache-storage:/cache-storage
            - ~/.cache/huggingface:/root/.cache/huggingface:rw
            - ./mainApi:/app/mainApi:rw
            - ./docker_compose_shared/static:/app/shared_static:rw
            - ./letsencrypt:/etc/letsencrypt
        command: [ "sh", "./mainApi/start.sh" ]
        restart: always

    front-app:
        depends_on: 
            - mainapi
        build: 
            context: ./react/
            dockerfile: Dockerfile.dev
        volumes:
            - ./react:/app:rw
        ports: 
            - 3000:80
        env_file:
            - ./react/.env
        restart: always
    
    mongo:
        image: mongo:latest
        restart: always
        ports:
            - "27017:27017"
        volumes:
            - mongoDbData:/data/db
        env_file:
            - ./env_files/mongoDb.env
    
    mongo-express:
        image: mongo-express
        ports:
            - 8081:8081
        env_file:
            - ./env_files/mongo-express.env
        depends_on:
            - mongo

volumes:
    openldap_data:
    mongoDbData:
    image-storage:
    cache-storage:
